$buttonColor: #3366cc;
$BackgroundColor: #fceac6;

body {
	background-color: $BackgroundColor;
}

#buttons{
	margin-right: 10%;
}

#button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8{
	background-color: $buttonColor;
	border: solid 2px black;
	//margin-bottom: 2%;
	//margin-right: 1%;
	text-align: center;
	color: #FFF;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

} 

/*#mainTitle{
	width: 20%;
	float: left;
}

#mission{
	width:20%;
}*/