body {
  background-color: #FFF;
  margin: 0;
  font-family: Arial;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin: 0;
}

#maincontainer {
  padding: 3% 3%;
  margin:auto;
  width: 1200px;
  background-color: #fceac6;
  border: solid 6px black;
}

img#backdrop {
  z-index: 1;
  opacity: 0.5;
  position: absolute;
  width: 512px;
  padding: -3% -3%;
}
#toprow {
  overflow: hidden;
}
#maintitle {
  width: 35%;
  height: 338px;
  float: left;
  display: table;
  text-shadow: 0px 5px 5px #696969;
  z-index: 2;
  position: relative;
}

#maininternaldiv {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

#videobox {
  float: right;
}

#videoplayer {
  width: 600px;
  height: 338px;
  border: solid 3px black;
}

#bottomrow {
  margin-top: 1%;
}

#mission {
  width: 35%;
  float: left;
  margin: auto;
  /*position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
}

#missioninternaldiv {
  text-align: center;
  width: 100%;
}

div#missioninternaldiv p:first-child {
  color: #3366cc;
  width: 80%;
  margin: auto;
}

#mission p {
  font-size: 20px;
  font-weight: 700;
  text-shadow: 0px 5px 5px #696969;
}

.row {
  width: 100%;
}

#videobuttons {
  float: right;
  width: 600px;
   }

 #vidinternaldiv {
  margin: auto;
  width: 65%;
 }

.button {
  background-color: #3366cc;
  border: solid 2px black;
  text-align: center;
  color: #FFF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; 
  width: 30%;
  height: 60px;
  padding: 1%;
  word-wrap: normal;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6); 
  cursor: pointer;
  font-size: 95%;
}

  a {
    text-decoration: none;
  }

  div#info a {
    text-decoration: initial;
  }

  .left {
   margin: 1% 5% 2% 5%;
    float: left;
  }

  .right {
    margin: 1% 5% 2% 5%;
    float: right;
  }

  footer {
    clear: both;
  }

  #info {
    clear: both;
    display: inline-block;
    width: 600px;
    font-size: 80%;
  }

  img {
    width: 60px;
    display: inline-block;
  }

@media only screen and (max-width: 500px) and (orientation: portrait) {

body {
  width:100%;
}

#maincontainer {
  padding: 3% 3%;
  margin:0;
  width: 94%;
}

#toprow {
  width: 100%;
}
#maintitle {
  width: 100%;
  height: initial;
  float: none;
  display:initial;
}

#maininternaldiv {
  display: initial;
  vertical-align: initial;
  text-align: center;
  width: 100%;
  margin: auto;
}

#videobox {
  float: initial;
  margin:auto;
  width: 100%;
}

#videoplayer {
  width: 98%;
  height: auto;
  margin-top: 3%;
}

#bottomrow {
  overflow: visible;
  margin:auto;
  margin-top: 5%;
  position: initial;
  width: 100%;

}

#mission {
  width: 100%;
  float: none;
  text-align: center;
  position: initial;
  top: initial;
  transform: initial;
}

#missioninternaldiv {
text-align: center;
width: 100%;
}

#videobuttons {
  float: initial;
  width: 100%;
  margin: auto;
}

#vidinternaldiv {
margin: auto;
width: 100%;
}

.button {
  overflow: visible;
  display: block;
  width: 96%;
  margin: auto;
  height: 40px;
  padding: 1%;
}


.left {
  margin: auto;
  margin-bottom: 2%;
  float: none;
}

.right {
  margin: auto;
  margin-bottom: 2%;
  float: none;
}

}

@media only screen and (max-width: 600px) and (orientation: landscape) {

body {
  width:100%;
}

#maincontainer {
  padding: 3% 3%;
  margin:0;
  width: 94%;
}

#toprow {
  width: 100%;
}
#maintitle {
  width: 100%;
  height: initial;
  float: none;
  display:initial;
}

#maininternaldiv {
  display: initial;
  vertical-align: initial;
  text-align: center;
  width: 100%;
  margin: auto;
}

#videobox {
  float: initial;
  margin:auto;
  width: 100%;
}

#videoplayer {
  width: 99%;
  height: auto;
  margin-top: 3%;
}

#bottomrow {
  overflow: visible;
  margin:auto;
  margin-top: 5%;
  position: initial;
  width: 100%;

}

#mission {
  width: 100%;
  float: none;
  text-align: center;
  position: initial;
  top: initial;
  transform: initial;
}

#missioninternaldiv {
text-align: center;
width: 100%;
}

#videobuttons {
  float: initial;
  width: 100%;
  margin: auto;
}

#vidinternaldiv {
margin: auto;
width: 100%;
}

.button {
  overflow: visible;
  display: block;
  width: 96%;
  margin: auto;
  height: 40px;
  padding: 1%;
}


.left {
  margin: auto;
  margin-bottom: 2%;
  float: none;
}

.right {
  margin: auto;
  margin-bottom: 2%;
  float: none;
}

}

@media only screen and (max-width: 979px) and (min-width: 501px) and (orientation: portrait) {

body {
  width:100%;
}

#maincontainer {
  padding: 3% 3%;
  margin:0;
  width: 94%;
}

#toprow {
  width: 100%;
}
#maintitle {
  width: 100%;
  height: initial;
  float: none;
  display:initial;
}

#maininternaldiv {
  display: initial;
  vertical-align: initial;
  text-align: center;
  width: 100%;
  margin: auto;
}

#videobox {
  float: initial;
  margin:auto;
  width: 100%;
}

#videoplayer {
  width: 99%;
  height: 338px;
  margin:auto;
  margin-top: 3%;
}

#bottomrow {
  overflow: visible;
  margin:auto;
  margin-top: 5%;
  position: initial;
  width: 100%;

}

#mission {
  width: 100%;
  float: none;
  text-align: center;
  position: initial;
  top: initial;
  transform: initial;
}

#missioninternaldiv {
text-align: center;
width: 100%;
}

#videobuttons {
  float: initial;
  width: 100%;
  margin: auto;
}

#vidinternaldiv {
margin: auto;
width: 100%;
}

.button {
  overflow: visible;
  display: block;
  width: 96%;
  margin: auto;
  height: 40px;
  padding: 1%;
}


.left {
  margin: auto;
  margin-bottom: 2%;
  float: none;
}

.right {
  margin: auto;
  margin-bottom: 2%;
  float: none;
}

}
